@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    display: grid;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.7fr;
    grid-template-areas:
    "header menu"
    "hero hero"
    "main image"
    "main extra"
    "banner banner"
    ;

    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.header {
    align-items: center;
    display: grid;
    background-color:purple;
    grid-area: header;
    padding: var(--my-padding);
}

.menu {
    align-items: center;
    display: grid;
    background-color: rgb(212, 19, 154);
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    align-items: center;
    display: grid;
    background-color: orangered;
    grid-area: hero;
    padding: var(--my-padding);
}

.main {
    align-items: center;
    display: grid;
    background-color: orange;
    grid-area: main;
    padding: var(--my-padding);
}

.image {
    align-items: center;
    display: grid;
    background-color: red;
    grid-area: image;
    padding: var(--my-padding);
}

.extra {
    align-items: center;
    display: grid;
    background-color:rgb(139, 8, 8);
    grid-area: extra;
    padding: var(--my-padding);
}

.banner {
    align-items: center;
    display: grid;
    background-color: darkorchid;
    grid-area: banner;
    padding: var(--my-padding);
}


@media (max-width: 1024px) {

    .container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.5fr 2fr 2.5fr 1fr 0.8fr;
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
        ;
    }
}

@media (max-width: 480px) {

    .container {
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 3fr 1.7fr 1.8fr 1.9fr; 
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}